body{
    background-image: url('imagem/fundo_form_amarelo.jpg'); 
    background-size: contain;
    background-color: rgba(255, 255, 255, 0.7);
    background-position: center;
    margin: 0;
    padding: 0;
  }
  
  body.pagina2 {
    background-image: url('imagem/fundo_form_amarelo.jpg'); 
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-color: rgba(180, 116, 55, 0.7);
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-image: url('/imagem/SL_031721_41490_22.jpg');
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px;
  }
  
  .navbar a {
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 1.8s ease;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #bb9c00;
    box-shadow: 0px 0px 10px 0px #bb9c00 ;
    cursor: pointer ;
  }
  
  /* Estilo para o footer */
  .footer {
    background-color: #333; /* Adapte a cor de fundo conforme necessário */
    color: #fff; /* Adapte a cor do texto conforme necessário */
    padding: 30px 0;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    margin-top: 100px;
  }
  
  /* Estilo para os ícones sociais no footer */
  .social-icon {
    font-size: 24px;
    color: #fff; /* Adapte a cor do ícone conforme necessário */
    margin-right: 10px;
  }
  
  /* Estilo para os links no footer */
  .footer a {
    color: #fff; /* Adapte a cor do link conforme necessário */
    text-decoration: none;
  }
  
  /* Estilo para os links no hover no footer */
  
  
  .bi-linkedin:hover {
    color: rgb(18, 95, 182); /* Adapte a cor do ícone conforme necessário */ 
  }
  .bi-instagram:hover{
    color: pink
  }
  .yellowfoot:hover{
    color: yellow;
  }
  .bi-whatsapp:hover{
    color: rgb(18, 194, 18);
  }
  
  .acesso1 {
    position: absolute;
    top: 45px;
    left: 1450px;
  }
  
  .acesso2 {
    position: absolute;
    top: 45px;
    left: 1650px;
  }

  
  /* .imagemlogo4beer{
    margin-left: 900px;
  } */
  
  .logoinicial {
    width: 100px;
    margin-right: 20px;
    background-color: transparent;
  }
  
  /* .logoinicial:hover {
    background-color: #f2cb0c;
  } */
  
/****************FORMULARIO*********************/

.primeirotexto{
  margin-top: 100px;
}

.btn{
  border: #ffffff;
}

.btn:hover{
  background-color: #bb9c00;
}



/******************CARDS**********************/

.card {
  height: 100%; /* Defina a altura desejada para os cards */
}

.card img {
  margin-top: 10px;
 
  height: 50%; /* Ajuste conforme necessário para a altura desejada da imagem dentro do card */
}

  
  
  
  /* Adicione estas regras CSS no seu arquivo CSS existente */
  
  /* Estilos padrão para telas grandes */
  .contato-container {
    max-width: 500px;
    /* margin: auto; */
    margin-bottom: 100px;
  
  }
  
  /* Estilos para telas pequenas */
  @media (max-width: 767px) {
    .contato-container {
      padding: 10px;
      margin-bottom: 150px;
    
    }
    
    /* Adicione mais estilos conforme necessário para telas menores */
  }
  .btn{
    background-color: #f2cb0c;
  }
  
  
  .politicaprincipal{
    text-align: center; 
  }
  
  .texto-politica{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 150px;
  }