body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .navbar {
    background-color: #ffffff;
    overflow: hidden;
     /* top: 0;
    right: 0;
    left: 0;  */
    align-content: center;
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar a {
    float: right;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    margin-left: 50px;
  }

  .navbar a:hover {
    background-color: #000000;
    border: 2px solid rgb(0, 0, 0);
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra elevada */
  }

  .cabecalho {
    
    overflow: hidden;
    
    top: 0;
    right: 0;
    left: 0;
  }

  .cabecalho a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .cabecalho2 {

    overflow: hidden;
   
    top: 0;
    right: 0;
    left: 50;
  }

  .cabecalho2 a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
  }

  .cabecalho a:hover {
    background-color: #f2cb0c;
    color: rgb(0, 0, 0);
    border-radius: 10px;
  }

  .acesso1 {
    position: absolute;
    top: 45px;
    left: 1450px;
}
.acesso2 {
  position: absolute;
  top: 45px;
  left: 1650px;
}

  /* Adicione estas regras de estilo ao seu arquivo main.css */
/* Adicione estas regras de estilo ao seu arquivo main.css */
footer {
  position: fixed; /* Define a posição como fixa */
  bottom: 0; /* Coloca o rodapé na parte inferior da janela do navegador */
  background-color: #333; /* Cor de fundo do rodapé */
  color: #fff; /* Cor do texto no rodapé */
  padding: 3px; /* Espaçamento interno */
  width: 100%; /* Ocupa a largura completa da janela */
  text-align: center; /* Centraliza o conteúdo no rodapé */
}

.navbar {
  /* position: fixed; Define a posição como fixa */
  /* bottom: 0; Coloca o rodapé na parte inferior da janela do navegador */
  background-color: #f2cb0c;; /* Cor de fundo do rodapé */
  color: #fff; /* Cor do texto no rodapé */
  /* padding: 1px; Espaçamento interno */
  /* width: 100%; Ocupa a largura completa da janela */
  /* text-align: center; Centraliza o conteúdo no rodapé */
}
.logoinicial{
  width: 100px;
  float: left;
  left: 10px;
  margin-right: 50px;
}
